In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\Satyam Kumar\\Downloads\\bio_dataset\\deeplearning\\coexp_features.csv")

In [3]:
df.head()

,entrezId,ENSG00000273477,ENSG00000273432,ENSG00000273267,ENSG00000273107,ENSG00000273056,ENSG00000273030,ENSG00000272983,ENSG00000272971,ENSG00000272910,...,ENSG00000144671,ENSG00000142621,ENSG00000142609,ENSG00000160838,ENSG00000198250,ENSG00000171931,ENSG00000140798,ENSG00000263279,ENSG00000121446,coexp_total
0,348,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,42
1,351,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
2,672,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,26
3,1636,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,323
4,2064,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12